html{
    font-family: monospace;
    font-size: 16px;
    color: #BCBCBC;
    background-color: #050505;
}
a{
    color: mediumseagreen;
    text-decoration: none;
}
a:hover{
    color: palegreen;
}
.light{
    color: mediumseagreen;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    margin-top: 4%;
    margin-bottom: 4%;
}
.walletaddr{
    display: inline-block;
    max-width: 315px;
    padding-left: 12px;
    padding-right: 12px;
}
.walletaddr img{
    border: 1px solid darkgray;
    border-radius: 7px;
}
.walletaddr_container{
    display: flex;
}
.walletaddr code{
    overflow-wrap: break-word;
    background-color: #181818;
    padding: 0.5px 2px;
}
.monero code{
    color: darkorange;
}
.bitcoin code{
    color: #e1be00;
}
@media screen and (max-width: 678px) {
    .walletaddr_container{
        display: block;
    }
}

