html{
 font-family: monospace;
 font-size: 16px;
 color: #BCBCBC;
 background-color: #050505;
}
article h1{ font-size: 1.6em; }
a{ text-decoration: none; }
a:hover{ color: palegreen; }
.light, a{ color: mediumseagreen; }
.container, footer{
 margin-left: auto;
 margin-right: auto;
 max-width: 80em;
}
.container{
 margin-top: 4%;
 margin-bottom: 4%;
}
code{
 overflow-wrap: break-word;
 background-color: #1A1A1A;
 padding: 1px 3.5px;
 border-radius: 5px;
}
footer p{ font-size: 14px; }
hr, footer p{ opacity: 0.8; }
