---
layout: default
---

{% if page.has_math %}
{% include mathjax.html %}
{% endif %}

{% if page.author %}
{% if page.author == site.author.name %}

{% capture post_author %}
<a href="{{ site.author.url }}">{{ site.author.name }}</a>
{% endcapture %}

{% else %}

{% assign post_author = page.author %}

{% endif %}

{% else %}

{% capture post_author %}
<a href="{{ site.author.url }}">{{ site.author.name }}</a>
{% endcapture %}

{% endif %}

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">At <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> By <span class="post-author">{{ post_author }}</span></span>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  {% if page.series %}
  <strong>* This post is part of the <a href="{{ '/blog/series' | reletive_url }}#{{ page.series | downcase }}">{{ page.series }}</a> series </strong>
  <hr/>
  {% endif %}
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
